body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

section {
    background: white;
    margin: 20px auto;
    padding: 30px; 
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}